.formbox{
    width: 45%;
    height: 100%;
    background: rgba(255, 255, 255, 0.377);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4%;
    
}

form{
    padding: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

form input{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: olive 1px solid;
    margin-bottom: 25%;
}
form h2{
    margin-bottom: 30%;
}

form button{
    background-color: olive;
    border: olive 1px solid;
    padding: 8% 16%;
    border-radius: 10px;
    color:white;
}
.formbox a{
    color: white;
    background-color: olive;
    border: olive 1px solid;
    padding: 2%;
    border-radius: 10px;
    margin-top: 8%;
}
.cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (max-width:1025px){
.formbox{
    min-width: 80vw;
    height: 50vh;
}
}